/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-tablesorter/theme.blue
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

input[type="number"]{
  width: 40px;
  margin-left: 5px;
  border-radius: 4px;
  -moz-appearance: textfield;
}
.stat-select input[type="number"]{

  float: right;
}
.stat-select input[type="checkbox"]{
  vertical-align: bottom;
  float: left;
}
div.statContainer{
  border: 1px solid #d3d3d3;
  padding: 6px 6px 8px 6px;
  border-radius: 4px;
  width: 150px;
  background-color: lavender;
  margin-bottom: 2px;
   
}
.multiselect-container{
  width: 50%;
  float: right;
}
.filters{
  width: 50%;
  float: left
}
.filters-container{
  
  width: 600px;
  margin: 0 auto;
}
.statColumn{
  display: inline-block;
  vertical-align: top;
  
}
.statColumn:not(:first-child) {
    margin-left: 12px;
}
.searchForm{
  text-align: center;
  
}
.stat-select{
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0;
  background-color: aquamarine;
}
.stat-select button{
  vertical-align: bottom;
  padding: 6px;
  border-radius: 4px;
  background-color: pink;
  border: 1px solid;
  font-weight: 800;
}
button.dropdown{
  background-color: blue;
  border: 1px solid;
  padding: 4px 6px 4px 6px;
  
}
i.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    
     
   margin-left: 4px;
}
i.arrow.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i.arrow.up{
  transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.invisible{
  display:none;
}
.filters-container{
  overflow: hidden;
  border: 1px solid
}

.selected,
.unselected{
  list-style: none;
}
.selected-wrapper{
  width: 50%;
  float: right;
}
.unselected-wrapper{
  width: 50%;
  float: left
}